/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/*BODY*/
body {
    background-color: #F0F3F5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*LOGO*/
.logo-img {
    height: 40px;
    width: 60px;
}

/*MENU*/
.navbar-brand {
    color: #D7C9AA;
}

.colormenu {
    background-color: #19535F;
}

.nav-link {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    margin-left: 20px;
}

.nav-item a::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #D7C9AA;
    transition: 0.6s
}

.nav-item a:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #D7C9AA
}

/*PRINCIPAL INDEX*/
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.titulo-hero {
    font-size: 4rem;
    color: white;
    font-style: bold;
}

.titulo-subhero {
    font-size: 3rem;
    color: white;
    font-style: bold;

}

.boton-hero {
    margin-top: 20px;
    margin-bottom: 120px;
}

.colorboton {
    background-color: #7B2D26;
    color: white;
    border: 2px solid rgb(0,0,0,0.5);
}

.colorboton:hover {
    background: #19535F;
    color: white;
    border: 2px solid rgb(0,0,0,0.5);
}

/* SECCIONES*/
.titulo-seccion {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 20px;
    color: #0B7A75;
    text-decoration: underline #7B2D26;
}

/* ACERCA DE MI */
.color-fondo {
    background-color: #7B2D26;
}

.acercademi-year {
    text-align: center;
    color: white;
    margin-top: 30px;
}

.coloracercademi {
    background-color: #D7C9AA;
}

.colorfilosofia {
    background-color: #7B2D26;
}

.year {
    font-size: 3rem;
    font-weight: bold;
}

.year-text{
    font-size: 2rem;
}

/*SERVICIOS*/
#servicios {
    margin-bottom: 13px;
}

.card-title {
    color: #D7C9AA;
    text-align: center;
}

.card {
    background-color: #0B7A75;
    color: white;
}

.card:hover {
    background-color: #7B2D26;
}

/*TESTIMONIOS*/
#testimonios {
    margin-bottom: 13px;
}

.card-testi {
    background-color: #D7C9AA;
    padding: 15px;
    height: 250px;
    margin-top: 10px;
    border-radius: 20px;
}

.card-testi:hover {
    color: white;
    background-color: #0B7A75;
    
}

.nombre-color {
    font-weight: bolder;
    font-size: 1.4rem;
    color: #19535F;
}

.profesion-color {
    font-size: 1.2rem;
    font-style: italic;
    color: #7B2D26;
}

.user-image img {
    width: 100px;
    height: 80px;
    margin-right: 30px;
}

/*CONTACTO*/
.contacto-datos {
    text-align: center;
    color: #7B2D26;
    font-size: 1.2rem;
}

.contacto-datos p { 
    margin-top: 10px;
    font-weight: bold;
}

.form-label {
    color: #7B2D26;;
    font-size: 1.2rem;
    font-style: bold;
    
}

.form-control {
    border: #7B2D26 solid 1px;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:70%;
    position:relative;
    height:0;
}
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.coloricon-contacto {
    color: #7B2D26;
}

.linea {
    color: #0B7A75;
    opacity: 1;
}

/* FOOTER*/
.footer-redes {
    text-align: center;   
    background-color: #19535F;
    color: white;
    margin-top: auto;
}

.footer-copy {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.footer-copy a {
    color: #D7C9AA;
}

.coloricon-redes {
    color: #D7C9AA;
}




