/* ==== SECCION CONTACTO ==== */

/* DATOS DE CONTACTO */
.contacto-datos {
    color: $coloroscuro;
    @include text (center, 1.2rem, bold);

    p { 
        margin-top: 10px;
        font-weight: bold;
    }
    
    .coloricon-contacto {
        color: $coloroscuro;
    }
}

/* FORMULARIO */
.formulario {

    .form-label {
        @include text (center, 1rem, bold);
        color: $coloroscuro;
    }

    .form-control {
        border: $coloroscuro solid 1px;
    }
}

/* GOOGLE MAPS */
.maps {

    @include sizes (100%, 420px);
    
}



