
/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontprincipal;
}

/* BODY */
body {
    background-color: $colorbody;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* TITULO SECCIONES */
.titulo-seccion {
    @include text (center, 2.5rem, bold);
    padding-top: 20px;
    color: $colorclaro;
    text-decoration: underline $coloroscuro;
}

/* BOTON */
.colorboton {
    background-color: $coloroscuro;
    color: $colortext;
    border: 2px solid rgb(0,0,0,0.5);

    &:hover {
        @extend .colorboton;
        background: $colorprimario;
    }
    
}

/* LINEA */
.linea {
    color: $colorclaro;
    opacity: 1;
}


